<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
    <title>Result</title>
    <link type="text/css" rel="stylesheet" href="table.css" />
</head>
<body>
<p style="bottom-margin:10px">
<table class="CSS_Table_Example" style="width:60%;margin:auto;background-color:#FFFFFF">
    <td>Top Speed: </td>
    <td>{{topSpeed}}</td>
</table>
</p>
</body></html>
